{% extends "bootstrap/base.html" %}

{% block title %}Endpoint Registration Tool{% endblock %}
{% block content %}
<body>
        <div class="container-fluid pt-3">
            <div class="row pt-5">
                <div class="col"></div>
                <div class="col">Code Debug, result:</div>
                <div class="col"></div>
            </div>
            <div class="row pt-5">
                <div class="col">{{ vlan_name }}</div>
                <div class="col">{{ vlan_id }}</div>
                <div class="col">{{ device }}</div>
            </div>
            
        </div>
    </body>
{% endblock %}