{% extends "bootstrap/base.html" %}

{% block title %}Customer PR Tool{% endblock %}
{% block content %}
<body>
        <div class="container-fluid pt-3">
            <div class="row pt-5">
                <div class="col"></div>
                <div class="col">Code Debug, new data result:</div>
                <div class="col"></div>
            </div>
            <div class="row pt-5">
                <div class="col">{{ new_data }}</div>
            </div>
        </div>
    </body>
{% endblock %}